<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowego użytkownika</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-5">Dodaj nowego użytkownika</h1>
    <form action="#" method="post" th:action="@{/admin/users}" th:object="${user}">
        <div class="mb-3">
            <label class="form-label" for="username">Nazwa użytkownika:</label>
            <input class="form-control" id="username" required th:field="*{username}" type="text">
        </div>

        <div class="form-select mb-3">
            <label class="form-label" for="role">Rola:</label>
            <select class="custom-select" id="role" name="role" required>
                <option th:each="role : ${roles}" th:text="${role.name}" th:value="${role}"></option>
            </select>
        </div>

        <div class="form-check">
            <input checked="checked" class="form-check-input" id="enabled" name="enabled" type="checkbox"/>
            <label class="form-check-label" for="enabled">Aktywny</label>
        </div>

        <button class="btn btn-primary mt-5 mb-5" type="submit">Dodaj</button>
    </form>

    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>

    <button class="btn btn-secondary mr-2" type="button">
        <a class="text-light" th:href="@{/admin/users}">Powrót do listy użytkowników</a>
    </button>
</div>
</body>
</html>