<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista zadań TODO</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <h1 class="mt-5 mb-5">Lista zadań TODO</h1>
        </div>
        <div class="col-6 text-right" style="margin-top: 30px;">
            <form id="logoutForm" action="/logout" method="post">
                <button class="btn btn-danger" type="submit">Wyloguj</button>
            </form>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Opis</th>
            <th>Data utworzenia</th>
            <th>Data modyfikacji</th>
            <th>Status zadania</th>
            <th>Użytkownik</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todoItem : ${todoItems}">
            <td th:text="${todoItem.title}"></td>
            <td th:text="${todoItem.description}"></td>
            <td th:text="${#temporals.format(todoItem.createdDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
            <td th:text="${#temporals.format(todoItem.modifiedDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
            <td th:text="${todoItem.completed ? 'Zakończone' : 'W trakcie'}"></td>
            <td th:text="${todoItem.user.username}"></td>
            <td>
                <button class="btn btn-secondary" type="button">
                    <a class="text-light" th:href="@{'/admin/todos/' + ${todoItem.user.id}}">Zobacz zadania użytkownika</a>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-secondary mr-2" type="button">
        <a class="text-light" th:href="@{/admin/users}">Powrót do listy użytkowników</a>
    </button>
</div>
</body>
</html>
