<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista użytkowników</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <h1 class="mt-5 mb-5">Lista użytkowników</h1>
        </div>
        <div class="col-6 text-right" style="margin-top: 30px;">
            <form action="/logout" id="logoutForm" method="post">
                <button class="btn btn-danger" type="submit">Wyloguj</button>
            </form>
        </div>
    </div>

    <div class="btn-group mb-3" role="group">
        <a class="btn btn-primary mr-2" href="/admin/users/add-form">Dodaj nowego użytkownika</a>
        <a class="btn btn-primary mr-2" href="/admin/todos">Wyświetl wszystkie zadania</a>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nazwa użytkownika</th>
            <th>Zablokowany</th>
            <th>Rola</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.enabled} ? 'Nie' : 'Tak'"></td>
            <td th:text="${user.role}"></td>
            <td class="text-center">
                <div class="btn-group" role="group">
                    <button class="btn btn-secondary mr-2" type="button">
                        <a class="text-light" th:href="@{'/admin/todos/' + ${user.id}}">Zobacz zadania</a>
                    </button>
                    <button class="btn btn-secondary mr-2" type="button">
                        <a class="text-light" th:href="@{'/admin/users/edit/' + ${user.id}}">Edytuj</a>
                    </button>
                    <form method="post" th:action="@{'/admin/users/toggle-block/' + ${user.id}}">
                        <input name="_method" type="hidden" value="post"/>
                        <button class="btn btn-danger mr-2" th:text="${user.enabled ? 'Zablokuj' : 'Odblokuj'}"
                                type="submit"></button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>

    <button class="btn btn-secondary mr-2" type="button">
        <a class="text-light" th:href="@{/}">Powrót do menu głównego</a>
    </button>
</div>
</body>
</html>