<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowe zadanie</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="col-6">
        <h1 class="mt-5 mb-5">Dodaj nowe zadanie</h1>
    </div>
    <form action="#" method="post" th:action="@{'/user/add-task-form/' + ${user.id}}" th:object="${todoItems}">
    <div class="mb-3">
        <label class="form-label" for="title">Tytuł:</label>
        <input class="form-control" id="title" required th:field="*{title}" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label" for="description">Opis:</label>
        <input class="form-control" id="description" required th:field="*{description}" type="text">
    </div>
        <button class="btn btn-primary mt-5 mb-5" type="submit">Dodaj</button>
    </form>



    <button class="btn btn-secondary mr-2" type="button">
        <a class="text-light" th:href="@{/user/todo-list}">Powrót do listy zadań</a>
    </button>
</div>

</body>
</html>