<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista zadań TODO</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <h1 class="mt-5 mb-5">Twoja lista zadań TODO</h1>
        </div>
        <div class="col-6 text-right" style="margin-top: 30px;">
            <form id="logoutForm" action="/logout" method="post">
                <button class="btn btn-danger" type="submit">Wyloguj</button>
            </form>
        </div>
    </div>
    <div class="btn-group mb-3" role="group">
        <a class="btn btn-primary mr-2" th:href="@{'/user/add-task-form/' + ${user.id}}">Dodaj nowe zadanie</a>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Opis</th>
            <th>Data utworzenia</th>
            <th>Data modyfikacji</th>
            <th>Zakończone</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todoItem : ${todoItems}">
            <td th:text="${todoItem.title}"></td>
            <td th:text="${todoItem.description}"></td>
            <td th:text="${#temporals.format(todoItem.createdDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
            <td th:text="${#temporals.format(todoItem.modifiedDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
            <td>
            <form method="post" th:action="@{'/user/todo-list/toggle/' + ${todoItem.id}}">
                <input name="_method" type="hidden" value="post"/>
                <button class="btn btn-warning mr-2" th:text="${todoItem.isCompleted ? 'Zakończ' : 'Aktywuj'}"
                        type="submit"></button>
            </form>
            </td>
            <div style="margin-top: 10px;"></div>
            <td>
                <button class="btn btn-secondary" type="button">
                    <a class="text-light" th:href="@{'/user/edit-task-form/' + ${todoItem.id}}">Edytuj</a>
                </button>
                <div style="margin-top: 10px;"></div>
                <form method="post" th:action="@{'/user/todo-list/delete/' + ${todoItem.id}}">
                    <input type="hidden" name="_method" value="delete"/>
                    <button class="btn btn-danger mr-2" type="submit">Usuń</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-secondary mr-2" type="button">
        <a class="text-light" th:href="@{/}">Powrót do menu głównego</a>
    </button>
</div>
</body>
</html>