<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brak dostępu</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <h1 class="mt-5 mb-5">Brak dostępu</h1>
        </div>
    </div>

    <h3 class="mb-5">Nie masz uprawnień do wyświetlenia tej strony. Dostęp tylko dla administratorów.</h3>

    <button class="btn btn-secondary mr-2" type="button">
        <a class="text-light" th:href="@{/}">Powrót do menu głównego</a>
    </button>
</div>
</body>
</html>
