<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <h1 class="mt-5 mb-5">Strona główna</h1>
        </div>
        <div class="col-6 text-right" style="margin-top: 30px;">
            <form id="logoutForm" action="/logout" method="post">
                <button class="btn btn-danger" type="submit">Wyloguj</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Panel użytkownika</h2>
            <a class="btn btn-primary" th:href="@{/user/todo-list}" >Przejdź do zadań użytkownika</a>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <h2>Panel administracyjny</h2>
            <a class="btn btn-primary" th:href="@{/admin/users}">Przejdź do zarządzania użytkownikami</a>
        </div>
    </div>
</div>
</body>
</html>
